doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{nombrePagina}
        link(rel='stylesheet' href="/css/style.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        .alinearV
            h1 Sistema de administración de tareas
            if error
                p.alerta.error= error
            .alinear
                section.form-register
                    h4 Bienvenido
                    h4 Aquí podrás iniciar sesion
                    form(id="formulario" method="POST" action="/iniciar-sesion") 
                        input#correo.controls(type='email' name='email' placeholder='Ingrese su Correo' value=email)
                        input#correo.controls(type='password' name='password' placeholder='Ingrese su Contraseña' value=password)
                        input.botons(type='submit' value='Iniciar sesion')
                    a(href="/login") ¿Aún no tienes cuenta? - Crear cuenta