<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        script(src="https://kit.fontawesome.com/579fe2a44d.js" crossorigin="anonymous")
        title #{nombrePagina}
    body
        header.barra
            h1 SAT - Sistema de administración de tareas 
            a(href="/cerrar-sesion" class="cs") Cerrar sesión
        button(class="boton" data-open="modalR") Abrir menu
                
        div#modalR.modal 
            aside.contenedor-proyectos 
                .panel.crear-proyecto
                    a(href="/nueva-Lista" class="boton2") Nueva Lista
                        span +
                .panel.lista-proyectos
                    h2 Mis listas
                    ul#listas.proyectos
                        if(listas.length)
                            each lista in listas 
                                li 
                                    a(href=`/listas/${lista.url}`)= lista.nombre
        block contenido
        
    script(src="/dist/bundle.js") 
            //pre= vardump(listas)