@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}


/** Login **/

.login,
.crear-cuenta {
    background: #455A64;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.contenedor-formulario h1 {
    text-align: center;
    color: white;
}

.contenedor-formulario h1 span {
    font-weight: 400;
    font-size: 1.2rem;
}

.contenedor-formulario p {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.56);
    padding: 3rem;
}

.campo {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    align-items: center;
}

.campo label {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    padding-right: 1rem;
}

.campo input[type="email"],
.campo input[type="text"],
.campo input[type="password"] {
    height: 3rem;
    border: 0;
    border: 1px solid #455A64;
    border-radius: 10px;
    padding-left: 2rem;
    color: black;
    width: 90%;
    min-width: 250px;
}

.campo.acciones {
    justify-content: space-between;
}

.enviar {
    justify-content: flex-end;
}

.boton {
    background-color: #d1f8ff;
    text-align: center;
    transition: background-color .5s ease-in-out;
    text-transform: uppercase;
    border: none;
    font-weight: 900;
    margin: 10px auto;
    padding: 20px 15px;
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton span {
    font-size: 2.2rem;
    margin-left: 20px;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(160, 227, 229)!important;
}

.boton.eliminar {
    margin-top: 1rem;
    float: right;
    background-color: red;
    color: white;
}

.campo a {
    color: black;
    text-decoration: none;
}


/** Barra **/

body.index {
    height: 100vh;
}

.barra {
    background-color: #05305c;
    ;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.barra h1 {
    color: white;
    margin: 0;
    font-size: 1.4rem;
}

.barra a {
    color: white;
    text-decoration: none;
}


/*** sidebar**/

.contenedor-proyectos {
    height: 100%;
    width: 90%;
    background-color: #3f678f;
    padding-top: 1rem;
    text-align: center;
}

.panel {
    padding: 10px;
    margin: 1rem;
}

.panel a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    margin: 10px auto;
}

.panel a:hover {
    color: #000000;
}

.panel h2 {
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.crear-proyecto i {
    margin-left: 1rem;
}

.crear-proyecto a {
    color: #360e5c;
}

.lista-proyectos ul {
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}

.lista-proyectos ul li {
    margin-bottom: 1rem;
}

.lista-proyectos ul li a:hover {
    color: #c8cfff;
}


/** Contenido Principal */

.contenedor {
    display: flex;
    height: calc( 100vh - 60px);
    width: 100%;
    justify-content: center;
}

.contenido-principal {
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}

.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}

.contenido-principal h1 {
    font-size: 1.8rem;
}

.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.contenido-principal h1 span {
    font-weight: 400;
}

.agregar-tarea {
    max-width: 800px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #05305c;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}


/** Listado Pendientes **/

.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}

.listado-pendientes ul {
    padding: 0;
    list-style: none;
}

.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}

.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}

.listado-pendientes ul li i {
    cursor: pointer;
}

.acciones i:last-child {
    margin-left: 3rem;
}

.completo {
    color: #00B762;
}

.alerta {
    padding: .5rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 900;
    max-width: 300px;
    margin: 0 auto 1rem auto;
    text-transform: uppercase;
}

.error {
    color: red!important;
    background-color: rgb(255, 201, 201);
    border: 1px solid red;
}

.error p {
    color: red!important;
}

.correcto {
    color: green;
    background-color: rgb(201, 245, 201);
    border: 1px solid green;
}

.correcto p {
    color: green;
}


/** Linea de Avance **/

.barra-avance {
    height: 30px;
    border: 1px solid #999;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.porcentaje {
    width: 0%;
    height: 100%;
    background-color: #00B762;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}

form.agregar-proyecto {
    max-width: 800px;
    width: 90%;
    background-color: #05305c;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

form.agregar-proyecto input {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.agregar-proyecto label {
    display: flex;
    text-align: right;
    padding-right: 1rem;
}

form.agregar-proyecto input[type="text"] {
    height: 3rem;
    border: 0;
    border: 1px solid #455A64;
    border-radius: 10px;
    color: black;
    width: 90%;
    min-width: 250px;
}

form input[type="submit"] {
    margin-top: 1rem;
    text-align: center;
    display: block;
    padding: 1.5rem;
    color: black;
    width: auto;
    margin: 0;
}

.contenedor-acciones {
    max-width: 800px;
    margin: 2rem auto 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.contenedor-acciones .boton:first-of-type {
    color: black;
    text-decoration: none;
}

.contenedor-acciones .cs:first-of-type {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contenedor-acciones .boton:first-of-type:hover {
    color: black;
    text-decoration: none;
}

.contenedor-acciones .boton.eliminar {
    color: white;
}

.contenedor-acciones .boton {
    margin: 0;
    text-align: center;
    display: block;
}

li {
    list-style: none;
}

.cs {
    background-color: rgb(75, 20, 20);
    padding: 10px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    min-width: 100px;
    max-width: 150px;
    color: rgb(255, 255, 255);
}

.cs:hover {
    background-color: rgb(255, 143, 143);
    color: black;
}

.bcs {
    text-align: center;
    transition: background-color .5s ease-in-out;
    padding: 20px 15px;
    text-transform: uppercase;
    border: none;
    font-weight: 900;
    width: 250px;
    background-color: rgb(75, 20, 20);
    border-radius: 3px;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.bcs:hover {
    background-color: rgb(255, 143, 143);
    color: black;
}


/*
Modal, así como en quetzual
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    background-color: #bebabac9;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.boton2 {
    background-color: #d1f8ff;
    text-align: center;
    transition: background-color .5s ease-in-out;
    text-transform: uppercase;
    border: none;
    font-weight: 900;
    margin: 10px auto;
    padding: 10px 15px;
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton2 span {
    font-size: 2.2rem;
    margin-left: 20px;
}

.boton2:hover {
    cursor: pointer;
    background-color: rgb(160, 227, 229)!important;
}